/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  min-height: 100vh;
}

.navigation {
  width: 300px;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  width: 100%;
  padding: 0;
}

.navigation ul li {
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.dio {
  flex-grow: 1;
  background: #222;
  padding: 20px;
  box-sizing: border-box;
}
input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background: #111;
  margin: 4px 0;
  color: #fff;
}
.price input{
  width: 30%;
 }
input:focus{
  transform: scale(1.1);
  background: #000;
}

button{
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background:#2a2185 ;
  color: #fff;
  transition: 0.5s;
  border-radius: 20px;
}
button:hover{
  background: #574ec0;
  letter-spacing: 1px;

}
.btnSarch{
  display: flex;
  justify-content: space-between;
}
.btnSarch button{
  width: 45%;
}
table{
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
table th{
  text-transform: uppercase;
}
th , td {
  padding: 5px;
}